<!DOCTYPE html >
<html>
  <head>
    <meta charset="utf-8">
    <title>Skypro</title>
  </head>
  <body>
    <main style ="width: 320px; margin: 0 auto;">
      <h1> Ваш заказ </h1>
          <h2> Салаты: </h2>
          <ul>
            <li>Название</li>
          </ul>
          <h2> Супы: </h2>
          <ul>
            <li>Название</li>
          </ul>
          <h2> Основные блюда: </h2>
          <ul>
            <li>Название</li>
          </ul>
          <h2> Десерты: </h2>
          <ul>
            <li>Название</li>
          </ul>
    </main>
  </body>
</html>



