<!DOCTYPE html >
<html>
  <head>
    <meta charset="utf-8">
    <title>Skypro</title>
  </head>
  <body>
    <main style ="width: 500px; margin: 0 auto;">
      <h1>Заказ принят!</h1>
      <p>Клиент: ______</p>
      <p>Адрес: ______</p>
      <p>Телефон: ______</p>
      <p>Что заказано:</p>
      <ul>
        <li>Название еды 1</li>
        <li>Название еды 1</li>
      </ul>
      <p>Статус заказа: ______</p>
      <p>Сумма заказа: ______Р</p>
      <p>Скидка ___%</p>
    </main>
  </body>
</html>



